

.cm-content-tile {

  cursor: pointer;
  border: 1px solid $light-grey;
  position: relative;
  background-color: #ffffff;
  max-width: 1180px;
  margin: 0 auto 20px auto;

  &:last-child {
    margin-bottom: 20px;
  }

  .content {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    // border-left: 5px solid transparent;
    h3, p {
      margin: 0;
      border-left: 5px solid transparent;
      a {
        text-decoration: none;
      }
    }
    h3 {
      padding: 30px 30px 20px 30px;
      a {
        font-weight: 600;
      }
    }
    p {
      padding: 0 30px 30px 30px;
    }
    .cta {
      position: relative;
      display: block;
      border: 0;
      border-top: 1px solid $light-grey;
      border-left: 5px solid $cochlear-yellow;
      background-color: #ffffff;
      color: $link-colour;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      padding-left: 30px;
      margin-top: 0;
      line-height: 30px;

      &:after {
        content: ' ';
        left: 120px;
        top: 18px;
        width: 20px;
        height: 20px;
        position: absolute;
        background-image: url('/images/Icon_Purple_Chevron@2x.png');
        background-size: 100%;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
      }


      &:hover {
        background-color: #ffffff;
      }
    }
  }

  .image {
    img {
      opacity: 1;
    }
  }


  &:hover {

    border:0;

    -webkit-transform: perspective(1000px) translate3d(0,0,21px);
    transform: perspective(1000px) translate3d(0,0,21px);

    background-color: #ffffff;

    &:before {
      opacity: 1;
    }

    .content {

      h3 {
        color: $link-colour;
      }
    }

  }

}

.cm-image-block-link {
  &:hover {
    img, .img {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
  &:after {
    background-color: transparent;
  }
  .image {
    &:after {
      background-color: transparent;
    }
  }
}

.is-cta {

  border: 0;
  overflow: hidden;
  margin-top: 50px;

  .image {
    height: 350px;
    position: relative;
    left: 30px;
    display: block;
    img {
      max-width: none;
      height: 100%;
      display: block;
      width: auto;
      border-radius: 0 0 0 50px;
    }
  }
  .content {
    background-color: $cochlear-yellow;
    opacity: 0.9;
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    .cta {
      border: 0;
      width: 170px;
      background-color: #ffffff;
      margin: 29px;
      border-radius: 30px;
      padding: 10px 0 10px 40px;

      &:after {
        left: 123px;
        top: 18px;
      }

      &:hover {
        background-color: $link-colour;
        color: #ffffff;
      }

    }
  }

  &:hover {

    -webkit-transform: perspective(1000px) translate3d(0,0,0);
    transform: perspective(1000px) translate3d(0,0,0);

    .cta {
      background-color: $link-colour;
      color: #ffffff;
      &:after {
        background-image: url('/images/Icon_White_Chevron@2x');
      }
    }

    h3 a, p {
      color:$link-colour;
    }

    &.is-large {
      &.is-cta {
        .image {
          img {
            transform: none;
          }
        }
      }
    }
  }

  &.is-large {
    &.is-cta {
      margin-left: -20px;
      padding-left: 20px;
      .cm-image-block-link {
        & > a {
          width: 100%;
          padding-right: 0;
          left: 0;
          padding-left: 0;

          & > img {
            width: auto;
            // padding-right: 44px;
            border-radius: 0;
            height: 100%;
          }
        }

        .content {
          left: -20px;
          top: 30px;
          max-width: 308px;
          width: 100%;
          border-radius: 0 0 50px 0;
          height: calc(100% - 60px);
          padding-left: 23px;

          h3 {
            padding: 30px 54px 10px 0;
            font-size: 22px;
          }

          p {
            padding: 0;
            font-size: 28px;
            padding-right: 54px;
          }
        }

        .cta {
          margin: 0;
          bottom: 40px;
          position: absolute;
          &:after {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 64em) {

  .cm-content-tile {

    .image {
      img {
        opacity: 1;
      }
    }

    &:before {
      box-shadow: 0 3px 30px rgba(0,0,0,0.3);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      // background: #000;
      content: '';
      -webkit-transition: opacity 0.35s;
      transition: opacity 0.35s;
    }

    &:hover {

      border:0;

      -webkit-transform: perspective(1000px) translate3d(0,0,21px);
      transform: perspective(1000px) translate3d(0,0,21px);

      background-color: #ffffff;

      &:before {
        opacity: 1;
      }

      .content {

        h3 {
          color: $link-colour;
        }

        .cta {
          // border-left: 0;
          &:after {
            left: 125px;
            transition: all 1s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
            -moz-transition: all 0.2s ease-in-out; /** Firefox **/
            -o-transition: all 0.2s ease-in-out; /** Opera **/
          }
        }
      }

    }

    .cm-image-block-link {
      &:hover {
        img, .img {
          -webkit-filter: grayscale(0);
          filter: grayscale(0);
        }
      }
      &:after {
        background-color: transparent;
      }
      .image {
        &:after {
          background-color: transparent;
        }
      }
    }

  }

  .sl-list {
    display: flex;
    .sl-item {
      flex: 1;
      .cm-content-tile {
        height: 100%;
        .content {
          margin-bottom: 60px;
        }
        .cm-image-block-link {
          height: 100%;
        }
        .cta {
          position: absolute;
          width: 100%;
          bottom: 0;
        }
      }
    }
  }

  .is-cta {
    &:hover {
      -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
      transform: perspective(1000px) translate3d(0, 0, 0);

      .content {

        .cta {
          // border-left: 0;
          &:after {
            left: 130px;
            transition: all 1s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
            -moz-transition: all 0.2s ease-in-out; /** Firefox **/
            -o-transition: all 0.2s ease-in-out; /** Opera **/

            background-image: url('/images/Icon_White_Chevron@2x');
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);

          }
        }
      }

    }
    &.is-large {
      &.is-cta {
        margin-left: auto;
        padding-left: 0;
        .cm-image-block-link {
          height: 480px;
          & > a {
            width: 100%;
            padding-right: 0;
            left: 0;
            padding-left: 50px;

            & > img {
              width: 100%;
              border-radius: 0;
              height: auto;
            }
          }

          .content {
            left: 0;
            top: calc(50% - 180px);
            width: 50%;
            max-width: 380px;
            border-radius: 0 0 50px 0;
            height: 360px;
            padding-left: 18px;

            h3 {
              padding: 30px 30px 20px 30px;;
              font-size: 22px;
            }

            p {
              padding: 0 30px 30px 30px;
              font-size: 32px;
              line-height: 40px;
            }
          }

          .cta {
            margin-left: 29px;
            &:after {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
