.nav-region-dropdown {

  float: right;
  position: relative;

  .nav-region-dropdown__cta {
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    &:hover {
      color: #81BC00;
    }
  }

  .nav-region-dropdown__form {
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 901;
  }
  
  .nav-region-dropdown__label {
    display: block;
    span {
      width: 150px;
      display: inline-block;
    }
  }

  .nav-region-dropdown__select {
    width: 200px;
    padding: 5px;
    border: 1px solid #efefef;
  }

  .nav-region-dropdown__submit {
    display: block;
    width: 100px;
    text-align: center;
    background-color: #000000;
    color:#ffffff;
    margin-top: 10px;
  }
}