.nav-region-dropdown {
 display: none;
}

@media only screen and (min-width: 64em) {
  .nav-region-dropdown {

    float: right;
    position: relative;
    margin-top: 25px;
    display: block;


    .nav-region-dropdown__cta {
      width: 160px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      border: 1px solid $link-colour;
      line-height: 44px;
      border-radius: 40px;
      text-decoration: none;
      text-align: center;
      color: $link-colour;
      margin: 0;
      &:hover {
        color: $link-colour;
      }
    }

    .nav-region-dropdown__form {
      display: none;
      position: absolute;
      background-color: #ffffff;
      z-index: 901;
    }

    .nav-region-dropdown__label {
      display: block;
      span {
        width: 150px;
        display: inline-block;
      }
    }

    .nav-region-dropdown__select {
      width: 200px;
      padding: 5px;
      border: 1px solid #efefef;
    }

    .nav-region-dropdown__submit {
      display: block;
      width: 100px;
      text-align: center;
      background-color: #000000;
      color:#ffffff;
      margin-top: 10px;
    }
  }
}