.cm-rich-text {
  margin: 0;

  blockquote {
    border-left: solid $cochlear-yellow 5px;
    padding-left: 30px;
    font-size: 18px;
    font-family: $font-primary;
    color: $cool-grey;
    p {
      font-size: 18px;
      font-family: $font-primary;
      color: $cool-grey;
    }
  }

  .key-points {
    border-top: 5px solid $cochlear-yellow;
    border-bottom: 2px solid #cccccc;
    margin: 0 0 40px 0;
    padding: 20px 0;
    h4 {
      font-size: 22px;
      line-height: 28px;
    }
    p {
      font-size: 18px;
      line-height: 28px;
    }
    li {
      padding-left: 25px;
    }
  }
  .breakout {
    margin: 30px 0 20px 0;
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
    background-color: $light-grey;

    &:before {
      content: "";
      position: absolute;
      width: 999%;
      height: 100%;
      left: -999%;
      background-color: $light-grey;
      z-index: -1;
      margin-top: -40px;

    }
    h3 {
      border-bottom: 5px solid $cochlear-yellow;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    p {
      padding-right: 70px;
    }
  }
  ol {
    margin-left: -15px;

    li {
      font-size: 29px;
      font-family: "Knockout-30";
      color: #666666;
      padding-left: 15px;
      position: relative;

      &:before {
        content: ' ';
        border: 5px solid #fff;
        left: -11px;
        top: 29px;
        position: absolute;
      }

      h4 {
        font-size: 22px;
        font-weight: bold;
      }
      p {
        margin: 0;
      }
    }
  }
}
@media only screen and (min-width: 64em) {
  .cm-rich-text {
    ol {
      margin-left: -50px;
    }
  }
}

