.landing-banner {

  margin-bottom: 20px;

  .l-padding {
    padding: 0;
  }

  & > div {

    &.background {
      height: 100%;
      background-color: $light-grey;
      width: 100%;
      top: -40px;
      left: 0;
      position: absolute;
    }

    & > div {
      // position: absolute;

      &.content {
        padding: 0;

        .content-grouper {
          display: block;
          margin: 0 8px;
          padding: 28px 20px 20px 20px;
          border-left: 5px solid $cochlear-yellow;

          p {
            padding-bottom: 15px;
          }

          .arrow {
            transform: rotate(90deg);
          }
        }
      }
      &.image {
        position: relative;
        z-index: 2;
        width: calc(100% - 20px);
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}


@media only screen and (min-width: 64em) {
  .landing-banner {
    margin-bottom: 0;
    &> div {
      position: relative;

      & > div {
        position: absolute;

        &.content {
          width: 49.4%;
          max-width: none;
          padding: 0 0 100px 0;

          .content-grouper {
            display: block;
            padding: 80px 0 0 36px;
            margin: 0 150px 0 36px;
            border-left: 5px solid $cochlear-yellow;

            p {
              padding-bottom: 40px;
            }

            .arrow {
              transform: rotate(90deg);
            }
          }
        }
        &.image {
          width: 56%;
          max-width: none;
          left: 44%;
          z-index: 2;
          margin-top: 0;
          position: absolute;
          height: 90%;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
          }
        }
      }

      &.background {
        width: 48%;
        border-radius: 0 0 40px 0;
        top: 0;
      }

    }

  }
}
