@font-face {
  font-family: 'BlissPro-Regular';
  src: url('../fonts/BlissPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'BlissPro-Light';
  src: url('../fonts/BlissPro-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Knockout-30';
  src: url('../fonts/Knockout-30.otf') format('opentype');
}

