.nav-footer {
  .nav-footer-social {
    width: 100%;
    text-align:center;
    h2 {
      display:none;
    }
    .icon {
      background-repeat: no-repeat;
      background-size: 100%;
      height: 30px;
      width: 30px;
    }
    .facebook {
      background-image: url('/images/icons/Social_White_Facebook@2x.png');
    }
    .google {
      background-image: url('/images/icons/Social_White_Google@2x.png');
    }
    .youtube {
      background-image: url('/images/icons/Social_White_Twitter@2x.png');
    }
    .twitter {
      background-image: url('/images/icons/Social_White_Youtube@2x.png');
    }
  }
}

@media only screen and (min-width: 64em) {
  .nav-footer {
    .nav-footer-social {
      width: 100%;

      h2 {
        display:block;
        text-align: left;
        margin-left: 20px;
      }
      ul{
        li {
          padding-right:20px;
        }
      }
    }
  }
}