.global-header {
  border-top:5px solid $cochlear-yellow;

  .logo {
    a {
      background-image: url('/images/logo_mobile.png');
      display: block;
    }
    img {
      display: none;
    }
  }
}

@media only screen and (min-width: 64em) {
  .global-header {

    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,.3);
    box-shadow: 0 0 15px rgba(0,0,0,.3);

    padding-top: 20px;
    padding-bottom: 10px;

    .login {
      float: right;
      width: 160px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      border: 1px solid $link-colour;
      line-height: 44px;
      border-radius: 40px;
      text-decoration: none;
      text-align: center;
      background-color: $link-colour;
      color: #ffffff;
      margin: 25px 0 0 30px;
      &:hover {
        color: #ffffff;
      }
    }

    .logo {

      height: auto;
      width: 100px;
      overflow: hidden;

      a {
        background-image: url('/images/logo_desktop.png');
      }
      img {
        display: block;
      }
    }
  }
}