.global-header {
  border-top:5px solid $cochlear-yellow;

  .logo {
    a {
      //background-image: url('../../images/logo_mobile.png');
      display: block;
    }
    img {
      display: none;
    }
  }
}