.nav-onscreen {
  .nav {
    & > li {
      & > a.nav-item-title {
        &:hover {
          color:$link-colour;
        }
        &:after {
          content: "";
          width: 20px;
          height: 20px;
          position: absolute;
          background-image: url('/images/Icon_Yellow_Chevron@2x.png');
          background-size: 100% 100%;
          margin-left: 2px;
        }
      }
    }
  }
}


@media only screen and (min-width: 64em) {
  .nav-onscreen__main-header {
    float: none;
    clear: both;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;

    .nav {
      display: flex;
      float: none;
    }

    .nav > li  {
      float: none;
      flex-grow: 0;
      margin-right: 40px;
      > a {
        margin-left:0;
      }
    }
  }
  .global-header {
    .nav-onscreen__main-header {
      padding-right: 0;
    }
  }
}

@media only screen and (min-width: 77.75em){
  .nav-onscreen__main-header {
    .nav > li  {
      margin-right: 60px;
    }
  }
  .global-header {
    .nav-onscreen__main-header {
      padding-right: 0;
    }
  }
}