.nav-onscreen {
  &.nav-onscreen__global-header {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    .nav {
      display: flex;
      float: none;
    }
  }
}