.breadcrumbs {
  font-size: 16px;
  max-width: 1052px;
  width: 100%;
  margin: 25px auto 0 auto;

  ul {
    li {
      &:before {
        content: "/";
        left: 5px;
        top: 0;
        margin-top: 0;
      }
    }
  }

  a {
    color: $link-colour;
    &:hover {
      color: inherit;
    }
  }
}