.breadcrumbs {
  display: none;
}

@media only screen and (min-width: 64em) {
  .breadcrumbs {
    font-size: 16px;
    padding: 0 80px;
    margin: 40px auto 30px auto;
    display: block;

    ul {
      li {
        .is-active {
          p {
            font-size: 16px;
          }
        }
        &:before {
          content: "/";
          left: 5px;
          top: 0;
          margin-top: 0;
        }
      }
    }

    a {
      color: $link-colour;
      &:hover {
        color: inherit;
      }
    }
  }
}